*{	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,html{
	height: 100%;
}

header{
	background-size: cover;
	height: 100%;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-animation: cores 30s linear infinite;
	-moz-animation: cores 30s linear infinite;
	-o-animation: cores 30s linear infinite;
	animation: cores 30s linear infinite;
	position:relative;
}
header h1{
	font-size: 100px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	letter-spacing: 15px;
	text-shadow: 0px 0px 11px #000;
	-webkit-animation: entrada 2s linear ;
	-moz-animation: entrada 2s linear ;
	-o-animation: entrada 2s linear ;
	animation: entrada 2s linear ;
	cursor: default;

}
header label{
	background-color: #fff;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 30px;
	padding: 20px 30px;
	transition: background-color .3s;
	cursor: pointer;
}
header label:hover{
	background-color: #000;
	color: #fff;
}
.menu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, .5);
	z-index: -1;
	opacity: 0;
	transition: all .5s;
	visibility: hidden;
}
.menu ul{
	width: 20%;
	height: 100%;
	background-color: #000;
	position: relative;
	padding-top: 80px;
}
.menu li{
	list-style: none;
	padding: 5px;
	display: block;
	text-align: center;
}
.menu a{
	font-size: 17px;
	color: #fff;
	text-decoration: none;;
	display: inline-block;
	padding: 5px;
}
.menu label{
	position: absolute;
	left: 100%;
	top: 0px;
	width: 500%;
	height: 100%;
	background-color: transparent;
	transition: background-color .8s;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;

}

.menu label:hover{
	color: #fff;
	cursor: url(cursor-x.png), auto;

}
.menu label span{
	background-color: #000;
	font-size: 40px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 8px;
	margin-left: 8px;
	color: #fff;
}
#bt-menu:checked ~ .menu{
	opacity: 1;
	z-index: 100;
	visibility: visible;	
}
#bt-menu{
	display: none;
}
@media(max-width: 500px)  {
	header h1{
		font-size: 30px;
	}

	.menu ul{
		width: auto;
		background-color: rgba(0,0,0,.7);
		}
	.menu label{
		left: auto;
		right: 10px;
		top: 10px;
		background-color: transparent;
		color: #fff;
	}
	.menu label:hover{
		background-color: transparent;
	}
	#bt-menu:checked ~ header > label{
		display: none;
	}
}
/*animacao do bg header*/
/*CHROME*/
@-webkit-keyframes cores {
	0% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	30% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	50% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}
	80% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}

	100% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}

}

/*FIREFOX*/
@-moz-keyframes cores {
	0% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	30% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	50% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}
	80% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}
	100% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}

	
}

/* OPERA */
@-o-keyframes cores {
	0% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	30% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	50% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}
	80% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}

	100% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	
}

/* IE */
@keyframes cores {
	0% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	30% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
	50% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}
	80% {
	background: url(bg_header2.jpg) no-repeat center center fixed;
	}

	100% {
	background: url(bg_header.gif) no-repeat center center fixed;
	}
}
/*animação de abertura*/
/*CHROME*/
@-webkit-keyframes entrada {
	0% {
	opacity: 0;
	}
	
	100% {
	opacity: 1;
	}

}

/*FIREFOX*/
@-moz-keyframes entrada {
	0% {
	opacity: 0;
	}
	
	100% {
	opacity: 1;
	}

	
}

/* OPERA */
@-o-keyframes entrada {
	0% {
	opacity: 0;
	}
	
	100% {
	opacity: 1;
	}
	
}

/* IE */
@keyframes entrada {
	0% {
	opacity: 0;
	}
	
	100% {
	opacity: 1;
	}
}